@import '_colors'
.client
    .title
        width: 100%
        font-size: 1.5rem
        text-align: center
        color: $azulCielo
    .buttonNew
        background: $azulCielo
        color: white
        float: right
        margin-right: 3rem
        padding: 0.5rem 2rem
        border-radius: 0.5rem
        margin-bottom: 1rem
    .notData
        text-align: center
        font-size: 1.5rem
        color: $grisOScuro
        padding-top: 10rem
        img
            width: 8%
            margin: auto
            margin-bottom: 1rem