@import '_colors'

.detailCLient
    padding: 2rem 8rem
    .title
        font-size: 1.5rem
        text-align: center
        color: $azulCielo
        font-weight: bold
        margin-bottom: 2rem
    @mixin subtitle
        text-align: center
        color: white
        padding: 0.5rem
        background: $moradoClaro
        margin: 0
    @mixin data
        padding: 2rem
        p
            text-align: center
        .b
            color: $moradoClaro
        input
            border: 0.1rem solid $gris
            padding: 0.5rem
            margin: 0.5rem
            text-align: center
    .info 
        border: 1px solid $moradoClaro
        .subtitle
            @include subtitle
        .data
            @include data
    .contac
        border: 1px solid $azulCielo
        .subtitle
            @include subtitle
            background: $azulCielo
        .data
            @include data
            .b
                color: $azulCielo
        .contacts
            border-bottom: 1px solid $azulCielo
            padding: 0.8rem
        .noContact
            text-align: center
            font-size: 1.5rem
            color: $grisOScuro
            img
                width: 11%
                margin: auto
                opacity: 0.5
    @mixin actionButton
        padding: 0.6rem 1rem
        background: red
        color: white
        font-size: 1rem
        border-radius: 0.5rem
        margin: 1rem 0.5rem
        float: right
        cursor: pointer
    .delete 
        @include actionButton
    .update
        @include actionButton
        background: $moradoOscuro
    .save
        @include actionButton
        background: green
    .add
        @include actionButton
        background: $azulCielo
    .addContact
        @include actionButton
        background: $moradoClaro