input
    border: none
    width: 80%
    outline: none
    font-size: 1rem
button
    background: none
    border: none
    font-size: 1rem
    outline: none
.noMargin
    margin: 0!important
    padding: 0!important
a
    text-decoration: none
body
    background-color: white
.imgDetail