@import '_colors'

.header
    width: 90%
    margin: auto
    padding: 1rem
    border-bottom: 1px solid $azulCielo
    .logo
        width: 50%
        float: right
    .logout
        float: left
        cursor: pointer