@import '_colors'

.login
    background: -webkit-linear-gradient( -45deg, $azulDegrade, $moradoDegrade)
    background: -o-linear-gradient(-45deg, $azulDegrade, $moradoDegrade)
    background: -moz-linear-gradient( -45deg, $azulDegrade, $moradoDegrade)
    background: linear-gradient( -45deg, $azulDegrade, $moradoDegrade)
    height: 100vh
    .form
        position: fixed
        top: 50%
        left: 50%
        -webkit-transform: translate(-50%, -50%)
        transform: translate(-50%, -55%)
        width: 25%
        //background: rgba(255, 255, 255, 0.8)
        background: white
        padding: 3rem
        border-radius: 1rem
        box-shadow: 5px 5px 1px rgba(50, 50, 50, 0.2)
        border-left: 2rem solid $azulCielo
        .logo
            width: 100%
            margin: auto
        .input
            padding: 0.5rem
            font-size: 1rem
            border: 1px solid #cccccc
            border-radius: 0.5rem
            width: 90%
            margin: auto
            margin-top: 1rem
            background: white
        @mixin button
            border-radius: 0.5rem
            color: white
            width: 50%
            padding: 0.5rem
            margin-left: 25%
            margin-top: 1rem
        .button_active
            @include button
            background: $moradoOscuro
            cursor: pointer
        .button
            @include button
            background: $grisOScuro


        

