@import '_colors'
@mixin menu
    width: 0.5rem
    background: -webkit-linear-gradient(  $moradoDegrade, $azulDegrade)
    background: -o-linear-gradient( $moradoDegrade, $azulDegrade)
    background: -moz-linear-gradient(  $moradoDegrade, $azulDegrade)
    background: linear-gradient(  $moradoDegrade, $azulDegrade)
    height: -webkit-fill-available
    color: white
    left: 0
    padding: 1rem
    .logo
        display: none
        width: 70%
        margin: auto
        border-bottom: 1px solid white
    .icon
        display: none
        padding: 0.5rem
        img
            width: 1.2rem
            float: left
            padding-top: 0.7rem
        .text
            display: none
            color: white
            text-align: left
            font-size: 1rem
            padding: 0.5rem
            float: left
            width: 50%
            font-size: 0
        hr
            width: 90%
            margin: auto
            background-color: white
            border-color: white
.menu_active
    @include menu
    width: 90%
    .logo
        display: block
    .icon
        display: block
        .text
            display: block
            font-size: 1rem
