@import '_colors'
.radioBotton 
  display: block
  position: relative
  padding-left: 35px
  margin-bottom: 12px
  cursor: pointer
  font-size: 22px
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

.radioBotton input 
  position: absolute
  opacity: 0
  cursor: pointer

.radiocheck 
  position: absolute
  top: -0.4rem
  height: 25px
  width: 25px
  background-color: $grisOScuro
  border-radius: 50%

.radioBotton:hover input ~ .radiocheck 
  background-color: #ccc

.radioBotton input:checked ~ .radiocheck 
  background-color: $azulCielo

.radiocheck:after 
  content: ""
  position: absolute
  display: none

.radioBotton input:checked ~ .radiocheck:after 
  display: block


