@import '_colors'
.ReactTable 
    border: none !important
    font-size: 1.1rem
    width: 92%
    margin: auto
    .-loading 
        background: rgba(247,247,247,1) !important
.ReactTable.-striped .rt-tr.-odd 
    background: rgba(0,0,0,0.08) !important
.ReactTable .rt-tr 
    //background: rgba(255,255,255,1) !important
.rt-th.-sort-asc
    box-shadow: inset 0 3px 0 0 rgba(255,255,255,0) !important
.rt-th.-sort-desc
    box-shadow: inset 0 -3px 0 0 rgba(255,255,255,0) !important
.pagination
    margin-top: 1rem
    display: flex
    justify-content: center
    button
        background: none
        border: none
        font-size: 1.1rem
    .next
        width: 1.5rem
        margin: 0 1rem
        cursor: pointer
    .button
        float: left
        background: none
    .pageactive
        -moz-border-radius: 50%
        -webkit-border-radius: 50%
        border-radius: 50%
        background-color: $azulCielo
        padding: 0.3rem 0.6rem
        color: white
.imgDetail
    width: 10%
    margin: auto
    cursor: pointer